<h1>Redis servers</h1>
<div id="servers">
  <% if @servers && @servers.any? %>
    <% for server in @servers %>
    <h2><%= server.name %> <%= server.host %>:<%= server.port %></h2>
    <% end %>
  <% else %>
  <p>No servers there. <a href="/servers/new">Add first</a></p>
  <% end %>  
</div>
