<h1>Add a new server</h1>
<form action="/servers" method="post">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <th><label for="name">Name</label></th>
      <td><input type="text" name="server[name]" id="name"></td>
    </tr>
    <tr>
      <th><label for="host">Host</label></th>
      <td><input type="text" name="server[host]" id="host"></td>
    </tr>
    <tr>
      <th><label for="port">Port</label></th>
      <td><input type="text" name="server[port]" id="port"></td>
    </tr>
  </table>
  
  <button>Add server</button>
</form>